{% extends 'layout.html' %}

{% block body %}
{% from "includes/formhelpers.html" import render_field %}
    <h3>Log in</h3>
    <hr>
    <form action="" method="post">
        {{ render_field(form.username) }}
        {{ render_field(form.password) }}
        <button type="submit" class="btn btn-primary">Log in</button>

    </form>

{% endblock body %}


Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus amet molestiae voluptatibus molestias! Perspiciatis, pariatur quam? Error, reprehenderit ipsum illum eveniet ab nobis quam eum est sequi nulla obcaecati eos unde maxime dolores exercitationem architecto eius repudiandae, dicta quaerat. Porro explicabo et exercitationem totam libero provident consectetur quidem illum ducimus?



